{% set title = 'Calendars'|trans %}

{% extends "base.html.twig" %}

{% block meta %}
    <title>{{ 'Presence'|trans }} – {{ calendar.name }}</title>
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('calendar/show') }}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light h-100">
        <header>
            <div class="row bg-white">
                <div class="col-md-3 bg-dark text-white px-3 pt-3">
                    <span class="text-primary small">{{ 'Presence'|trans }}</span>
                    <h1>{{ calendar.name }}</h1>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div class="d-flex column-gap-5">
                        <div class="d-flex column-gap-2">
                            <span class="bg-primary d-inline-block" style="width: 20px; height: 20px;"></span> {{ 'Working elsewhere'|trans }}
                        </div>
                        <div class="d-flex column-gap-2">
                            <span class="bg-secondary d-inline-block" style="width: 20px; height: 20px;"></span> {{ 'Out of office'|trans }}
                        </div>
                    </div>
                </div>
                <div class="col-auto ms-auto d-flex justify-content-center align-items-center">
                    <div class="logo">
                        <img src="{{ vich_uploader_asset(calendar, 'logoFile') }}" alt="{{ title }}"/>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="row bg-white">
                <div class="col-md-3 bg-dark text-white border-bottom border-color-white px-3 pt-3">
                    <span class="text-primary small">{{ 'Week'|trans }}</span>
                    <h2>{{ dates|first|format_datetime(pattern='ww') }}</h2>
                </div>
                <div class="col">
                    {{ dates|first|format_datetime(pattern='MMMM') }}

                    <div class="row">
                        {% for date in dates %}
                            <div class="col border-bottom border-end p-3 {{ loop.first ? 'bg-white' : 'bg-light' }}">
                                {# https://unicode-org.github.io/icu/userguide/format_parse/datetime/#datetime-format-syntax #}
                                <h2 class="text-primary">{{ date|format_datetime(pattern='dd') }}</h2>
                                {{ date|format_datetime(pattern='EEEE') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="people">
                {% macro format_time(time) -%}
                    {{ time|date('H:i') }}
                {%- endmacro %}

                {% for name, items in people %}
                    <div class="row">
                        <div class="col-md-3 bg-dark text-white border-bottom border-color-white py-2">{{ name }}</div>
                        {% for date in dates %}
                            {% apply spaceless %}
                            <div class="slot col border-bottom border-end {{ loop.first ? 'bg-white' : 'bg-light' }}">
                                {% if items[date] is defined %}
                                        {% for item in items[date] %}
                                            <div class="slot-blob {{ item.type|lower }}"
                                                data-start="{{ _self.format_time(item.start) }}"
                                                data-end="{{ _self.format_time(item.end) }}"
                                                title="{{ item.summary }} ({{ item.event.startTime|date('H:i') }}–{{ item.event.endTime|date('H:i') }})"></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endapply %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
